.mail-sidebar
  .mail-sidebar-row
    - if action_name == 'index'
      %strong Все сообщения
    - else
      .text-center= link_to 'Новый диалог', messages_path, class: 'btn btn-blue'
  %ul.mail-menu
    - @recipients.each do |recipient|
      %li{class: ('active' if recipient.id == params[:id].to_i)}
        = link_to  message_path(recipient.id), class: 'active' do
          = recipient.full_name
          - if new_messages_by_dialog_count(recipient.id) > 0
            %span.pull-right.badge.badge-secondary= new_messages_by_dialog_count recipient.id

