<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div style="font-size:large"><strong><%= @invoice.company.name %></strong></div><div style="font-size:large"><strong>Юридический адрес: <%= "#{@invoice.company.city} #{@invoice.company.address}"%></strong></div><div style="font-size:large"><strong>Фактический адрес: <%= "#{@invoice.company.city} #{@invoice.company.address}"%></strong></div><p><span style="font-size:large"><br><br></span></p><div style="text-align:center;font-size:large"><strong>Образец заполнения платежного поручения</strong></div><p><span style="font-size:large"><br></span></p><table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:700px;border:0px solid #000000;font-size:large">
  <tbody><tr>
    <td style="padding:0px 5px;width:150px;border-style:solid none solid solid;border-top-color:#000000;border-bottom-color:#000000;border-left-color:#000000;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;text-align:left">
      ИНН #С_Компания ИНН_С#</td>
    <td style="padding:0px 5px;width:150px;border-style:solid none solid solid;border-top-color:#000000;border-bottom-color:#000000;border-left-color:#000000;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;text-align:left">
      КПП #С_Компания КПП_С#
    </td>
    <td style="padding:0px 5px;width:70px;border-style:solid none none solid;border-top-color:#000000;border-left-color:#000000;border-top-width:1px;border-left-width:1px;text-align:left">

    </td>
    <td style="padding:0px 5px;border-style:solid solid none;border-top-color:#000000;border-right-color:#000000;border-left-color:#000000;border-top-width:1px;border-right-width:1px;border-left-width:1px;text-align:left">

    </td>
  </tr>
  <tr>
    <td style="padding:0px 5px;border-style:solid none none solid;border-top-color:#000000;border-left-color:#000000;border-top-width:1px;border-left-width:1px;text-align:left" colspan="2">
      Получатель
    </td>
    <td style="padding:0px 5px;border-style:solid none none solid;border-top-color:#000000;border-left-color:#000000;border-top-width:1px;border-left-width:1px;text-align:left">

    </td>
    <td style="padding:0px 5px;border-style:solid solid none;border-top-color:#000000;border-right-color:#000000;border-left-color:#000000;border-top-width:1px;border-right-width:1px;border-left-width:1px;text-align:left">

    </td>
  </tr>
  <tr>
    <td style="padding:0px 5px;border-style:solid none none solid;border-top-color:#000000;border-left-color:#000000;border-top-width:1px;border-left-width:1px;text-align:left" colspan="2">
      #С_Компания Название организации_С#
    </td>
    <td style="padding:0px 5px;border-style:solid none none solid;border-top-color:#000000;border-left-color:#000000;border-top-width:1px;border-left-width:1px;text-align:center">
      Сч. №
    </td>
    <td style="padding:0px 5px;border-style:solid solid none;border-top-color:#000000;border-right-color:#000000;border-left-color:#000000;border-top-width:1px;border-right-width:1px;border-left-width:1px;text-align:left">
      #С_Компания Расчетный счет_С#
    </td>
  </tr>
  <tr>
    <td style="padding:0px 5px;border-style:solid none none solid;border-top-color:#000000;border-left-color:#000000;border-top-width:1px;border-left-width:1px;text-align:left" colspan="2">
      Банк получателя
    </td>
    <td style="padding:0px 5px;border-style:solid none solid solid;border-top-color:#000000;border-bottom-color:#000000;border-left-color:#000000;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;text-align:center">
      БИК
    </td>
    <td style="padding:0px 5px;border-style:solid solid none;border-top-color:#000000;border-right-color:#000000;border-left-color:#000000;border-top-width:1px;border-right-width:1px;border-left-width:1px;text-align:left">
      #С_Компания БИК_С#
    </td>
  </tr>
  <tr>
    <td style="padding:0px 5px;border-style:solid none solid solid;border-top-color:#000000;border-bottom-color:#000000;border-left-color:#000000;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;text-align:left" colspan="2">
      #С_Компания Банк_С#
    </td>
    <td style="padding:0px 5px;border-style:solid none solid solid;border-top-color:#000000;border-bottom-color:#000000;border-left-color:#000000;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;text-align:center">
      Сч. №
    </td>
    <td style="padding:0px 5px;border:1px solid #000000;text-align:left">
      #С_Компания Корреспондентский счет_С#
    </td>
  </tr>
  </tbody></table><br><div style="text-align:center;font-size:22px"><strong>СЧЕТ № #С_Номер договора_С# от #С_Сегодня дата_С#</strong></div><div style="text-align:center;font-size:22px"><strong><br></strong></div><div style="font-size:large"><span style="font-size:large"><strong>Плательщик:</strong> </span>#С_Название организации_С#, #С_Юридический адрес_С#</div><div style="font-size:large">#С_Обычный товарный чек_С#</div><p><strong style="font-size:large">Всего:</strong><span style="font-size:large">  #С_Сумма прописью_С#. Без НДС</span></p><div style="font-size:large"><br></div><div style="font-size:large">Руководитель предприятия #С_Компания Генеральный директор_С#___________</div><div style="font-size:large">Главный бухгалтер___________</div><div style="font-size:large"><br></div>