.col-sm-3
  .tile-stats.tile-aqua
    .icon
      %i.entypo-cup
    .num 5
    %h3 Проектов
.col-sm-3
  .tile-stats.tile-aqua
    .icon
      %i.entypo-mail
    .num 5
    %h3 Сообщений
.col-sm-3
  .tile-stats.tile-aqua
    .icon
      %i.entypo-credit-card
    .num 5
    %h3 Счетов
.col-sm-3
  .tile-stats.tile-aqua
    .icon
      %i.entypo-publish
    .num 5
    %h3 Заявок

