.form-group
  =f.label 'Имя компании', nil, class: 'col-sm-3 control-label'
  .col-sm-5
    =f.text_field :name, class: 'form-control'
.form-group
  =f.label 'Email', nil, class: 'col-sm-3 control-label'
  .col-sm-5
    =f.text_field :email, class: 'form-control'
.form-group
  =f.label 'Адрес', nil, class: 'col-sm-3 control-label'
  .col-sm-5
    =f.text_field :address, class: 'form-control'
.form-group
  =f.label 'Город', nil, class: 'col-sm-3 control-label'
  .col-sm-5
    =f.text_field :city, class: 'form-control'
.form-group
  =f.label 'Вебсайт', nil, class: 'col-sm-3 control-label'
  .col-sm-5
    =f.text_field :website, class: 'form-control'
.form-group
  =f.label 'Телефон', nil, class: 'col-sm-3 control-label'
  .col-sm-5
    =f.text_field :phone, class: 'form-control'