%ul.nav.tabs-vertical
  %li{class: ('active' if action_name == 'general')}
    = link_to 'Общие', settings_general_path

  %li{class: ('active' if action_name == 'email')}
    = link_to 'Email', settings_email_path

