.row
  .col-sm-12.m-r
    - if can? :edit, @project
      = link_to edit_project_path(@project), class: 'btn btn-blue btn-icon icon-left get-modal' do
        Изменить
        %i.entypo-pencil
    - if can? :add, @project
      = link_to copy_project_path(@project), class: 'btn btn-blue btn-icon icon-left get-modal' do
        Копировать
        %i.entypo-docs
    - if can? :add, Invoice
      = link_to invoice_project_path(@project), class: 'btn btn-blue btn-icon icon-left get-modal' do
        Создать счет
        %i.entypo-credit-card
    - if can? :destroy, @project
      = link_to project_path(@project), class: 'btn btn-default btn-icon icon-left', method: :delete do
        Удалить
        %i.entypo-trash
