.form-group
  =f.label 'КПП', nil, class: 'col-sm-4 control-label'
  .col-sm-5
    =f.text_field :kpp, class: 'form-control'

.form-group
  =f.label 'ИНН', nil, class: 'col-sm-4 control-label'
  .col-sm-5
    =f.text_field :inn, class: 'form-control'

.form-group
  =f.label 'Название банка', nil, class: 'col-sm-4 control-label'
  .col-sm-5
    =f.text_field :bank_title, class: 'form-control'

.form-group
  =f.label 'БИК', nil, class: 'col-sm-4 control-label'
  .col-sm-5
    =f.text_field :bik, class: 'form-control'

.form-group
  =f.label 'Расчетный счет', nil, class: 'col-sm-4 control-label'
  .col-sm-5
    =f.text_field :schet, class: 'form-control'

.form-group
  =f.label 'Корреспондентский счет', nil, class: 'col-sm-4 control-label'
  .col-sm-5
    =f.text_field :kor_schet, class: 'form-control'