.progress.progress-striped.active.bar-height
  .progress-bar.progress-bar-danger{role: 'progressbar', style: "width: #{progress}%", data: {toggle: 'tooltip', placement: 'top'}, title: "#{progress}%"}
    %span.sr-only= "#{progress}%"