.row
  .col-md-6.col-sm-8.clearfix
  .col-md-6.col-sm-4.clearfix.hidden-xs
    %ul.list-inline.links-list.pull-right
      %li
        = link_to '#' do
          Выход
          %i.entypo-logout.right